{% extends "base.html"%}

{%block content %}
{% for obj in object_list %}
<h1><a href='{% url "profiles:detail" username=obj.user.username %}'>{{obj.user.username}}</a></h1>
{% endfor%}
<table border="1">
<th> studentnumber</th>
<th>subject_ID</th>
<th>paper1_Mark</th>
<th>paper2_Mark</th>
<th>paper3_Mark</th>
<th>paper4_Mark</th>
{% for obj in object_list%}

<tr>
<td><a href='{% url "profiles:detail" username=obj.user.username %}?q={{obj.student_number}}'>{{obj.student_number}}</a></td>
<td>{{obj.subject_ID}}</td>
<td>{{obj.paper1_Mark}}</td>
<td>{{obj.paper2_Mark}}</td>
<td>{{obj.paper3_Mark}}</td>
<td>{{obj.paper4_Mark}}</td>
</tr>

{% endfor%}



</table>





{%endblock content%}

